    <div class="wrapper">
    
        <img src="assets/img/burger.png" alt="Cheeseburger">
    
        <h1 class="center" >Eat-Da-Burger!</h1>
    
        <h4 class="center">Menu</h4>
    
        <ul>
            <!-- {{!-- code within brackets to hold the burger list.
            Need to include devour button as well --}} -->
        </ul>
    
        <form class="center" action="">
            <div class="form-group">
                <!-- <label for="inputLabel">Enter a new burger</label> -->
                <textarea class="form-control" id="burgerInput" cols="30" rows="2" placeholder="Enter a new burger"></textarea>
            </div>
            <button type="submit" class="center">Add to the Menu</button>
        </form>
        
    </div>