.wrapper {
    width: 640px;
    margin: 0 auto;
    background-color: azure;
    z-index: 2;
    min-height: 500px;
    border-radius: 5px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url("../img/venice.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    min-height: 840px;
}

html {
    background-color: black;
    z-index: 0;
}

.burgerInput {
    margin: 10px 5px;
    padding-bottom: 15px;
}

h4 {
    text-decoration: underline;
}

li {
    text-align: left;
}

